<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Message Board</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type = "text/javascript" src="/socket.io/socket.io.js"></script>
	<script type = "text/javascript" src="/js/main.js"></script>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<h2>The Dojo Message Board</h2>
	<form action="/post/new" method="post">
		<input type="text" name="name" placeholder="Name">
		<textarea name="message" id="" cols="90" rows="10" placeholder="Message" ></textarea>
		<input type="submit" value="Post">
	</form>
	<% for(x in posts){ %>
		<b><%= posts[x].name %></b>
		<p><%= posts[x].message %></p>
		<div class="comment">
			<% for(var i = 0; i < posts[x].comments.length; i++) { %>
				<b><%= posts[x].comments[i].name %></b>
				<p><%= posts[x].comments[i].message %></p>
			<% } %>
			<form action="/comment/new/<%= posts[x]._id %>" method="post">
				<input type="text" name="name" placeholder="Name">
				<textarea name="message" id="" cols="90" rows="10" placeholder="Message" ></textarea>
				<input type="submit" value="Comment">
			</form>
		</div>
	<% } %>
</body>
</html>